<div ng-controller="HomeCont">

<div style="background-color: white;">
  <div class="parallax2">
    <div>
      <button style="float: left;" class="btn btn-primary create-crud" ng-click="goPanel()">Close</button>
      <p class="headerPrev">Assignment 3</p>
    </div>
  </div>



 <div class="SubMargin">
 	 <strong> <h4> <span style="color:red">1.</span>  Create a NodeJS script that will do the following:<br>
• Download the image from s3://cc414-images/scientist.png.<br>
• Check if the metadata key “x-amz-meta-move” of the image is true.<br>
• If true, upload the image to s3://cc414-images/{MATRICULA}/image.png</h4></strong>

<code>
	<pre>
		
				const aws = require('aws-sdk');
				const s3 = new aws.S3(); 
				const MetadataKey = "Metadata";
				const MoveKey = "move"
				const BodyKey = "Body"

				var getParams = {
				    Bucket: 'cc414-images',
				    Key: 'scientist.png'
				}

				var putParams = {
						Bucket: 'cc414-images',
						Key: '24040/image.png',
						Body: data[BodyKey]
					}

				s3.getObject(getParams, function(err, data) {
				    if (err){
				        return err;
				    }

					let imageMetadata = data[MetadataKey];
					let metadataElement = imageMetadata[MoveKey];
					let valueOfKey = (metadataElement === "true");

				  	if(valueOfKey){
				  		s3.putObject(putParams, function (err, data) {
							if (err) {
					    		console.log("Error uploading image: ", err);
					    	} else {
					    		console.log("Successfully uploaded image on S3", data);
					    	}
						}); 
				  	}
				});
				<p><strong>Colaboración con Rogelio delgado </strong></p>
			
	</pre>
	

</code>




 <strong> <h4 > <span style="color:red">2.</span>  Create a NodeJS script that will do the following:<br>
• Will get the Nasa Astronomy Picture of the day.<br>
• Save the image in the local file system.<br>
• Print the title of the image.<br>
</h4></strong>


<p>......working on it</p>
<p>......working on it</p>
<p>......working on it</p>



<strong> <h4 ><span style="color:red">3.</span> Implement Google Analytics in your personal web site (All teams will do the same
for their Final Project).</h4></strong>

<code>
	<pre>
		<p>Se registra el sitio en la cuenta de google analytics y  se inserta el codigo en el index de nuestra página web
			de preferencia antes de cerrar el body.
		</p>
	
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', 'XXXXXXXXXX', 'auto');
			  ga('send', 'pageview');

	
	</pre>
</code>


<strong> <h4> <span style="color:red">4.</span> Read and explain the following article by Martin Fowler:<a href="http://martinfowler.com/
articles/richardsonMaturityModel.html"> http://martinfowler.com/
articles/richardsonMaturityModel.html</a></h4></strong>

<p>En este articulo Martin Fowler habla del modelo de Leonard Richardson. En donde explica los niveles del modelo Maturity  para llegar a una explicación concreta del uso de tecnicas de Restful API's, el cual divide en 4 niveles (0-3)  </p>

<p>Dentro del nivel 0 se explica que se utiliza el HTTP protocol como un sistema de transporte para interacciónes remotas. En realidad todo este paso no es mas que tunneling de comunicación de respuestas. El cual puede ser XML de responses back and forth.</p>

<p>En el nivel 1, introducir los resources e indentificarlos independientes cada uno de estos recursos mediante su URI, es decir mantener ese recurso para despues postearlo. </p>

<p>En el nivel 2 explica que a diferencia de los niveles 0 y 1  utilizar POST o GETS ya que en estos niveles ambos estan siendo utilizados como mecanismo de comunicacion o transporte, y direccionar las interacciones por medio de HTTP. En cambio el nivel 2 se busca utulizar HTTP verbs tal como serian utilizados en el protocolo. Es decir el utilizar GET como safe operation es crucial, lo cual permite hacer caching.   </p>

<p>Por ultimo en el nivel 3 llamado Hypertext As The Engine Of Application State es donde ocurre la magia, y direcciona los URIS y lo define como su resource para poderlo manipularlo. Incluso modificar los URIs sin romper el scheme. </p>







<strong> <h4 ><span style="color:red">5.</span>
Explain why cloud computing is important. 
</h4></strong>

<p>•Price: Cloud Computing permite a las empresas dejar a un lado la inversion en equipo fisico, como server racks, cableado, redes etc. Facilitandoles las necesidades  con un click. Sin tener que preocuparse por nada de lo mencionado. El costo reduce considerablemente ya que este equipo es caro y tambien su mantenimiento.</p>

<br>
<p>Scalability: Cloud computing te permite una increible escalabilidad, si eres una empresa pequeña que busca recursos adaptables para sus necesidades pero en busqueda de crecer, con cloud computing puedes ir creciendo segun las necesidades, esto te permite escalar y mantener tu misma estructura solo obteniendo los recursos que crees necesarios para ti.</p>
<br>
<p>Flexibility: Manejar estos recursos mencionados en donde quieras cuando quieras, con solo tener internet. Faciles de manejar y administrar sin necesidad de pagar mantenimiento fisico. </p>
<br>
<p>Automation: Todas estas caracteristicas mencionadas pueden ser automatizadas,es decir, en caso de necesitar mas recursos, puede adaptarse automaticamente a lo que se requiere. </p>
<br>
<p>Information security & backups: Toda tu información es segura y es algo de lo cual tu tampoco te preocupas directamente, toda tu información esta lista para cualquier tipo de error o desastre. </p>




<strong> <h4 ><span style="color:red">6.</span>
Explain what would like to change in this class and why.
</h4></strong>

<p>El flujo de enseñanza del curso es exactamente lo que se espera de una clase, de la forma en la que vemos cada tema y hacemos un ejercicio al respecto me ayuda a comprender más a fondo. Así mismo que las dudas de temas de clase no se quedan en el salón. Me gusta la parte de la clase que muestra el enfoque del "out there", es decir la realidad de lo que esta sucediendo en el mundo de la tecnología. </p>

 </div>

</div>