<div ng-controller="HomeCont">

<div style="background-color: white;">
  <div class="parallax2">
    <div>
      <button style="float: left;" class="btn btn-primary create-crud" ng-click="goPanel()">Close</button>
      <p class="headerPrev">Assignment 7</p>
    </div>
  </div>



 <div class="SubMargin">



 	<div class="panel panel-default">
    <div class="panel-heading" style="background-color: lightblue;"><h2>Modify your Marvel Lambda Application to:
	Store results in S3.<br>Get results from S3 when the same parameters are passed instead of calling Marvel API.</h2></div>


    <div class="panel-body">
      <p>Bucket name: rodo-results</p>
      <p>Github link:</p>
  </div>
</div>
</div>